html{
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
}
body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
:root{
    --primary-color:rgb(196, 185, 185);
    --secondary-color:rgb(250, 248, 248);
}
    /*General*/
.about h2, .projects h2, .contact h2{
    text-align: center;
    align-content: center;
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
.card{
    background-color: #fff5f5;
    text-align: center;
    border-radius: 25px;
    box-shadow: 2px 2px 7px rgb(100, 100, 100);
}
.card .rbtn:hover, .aboutme .rbtn:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}
    /*header*/
.header{
    color: var(--primary-color);
    text-align: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
}
.bgimg{
    align-content: center;
    padding-top: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
.header h1{
    font-size: 450%;
    position: relative;
    top: 80px;
}
.header h2{
    font-size: 150%;
    font-weight: normal;
    color: var(--secondary-color);
    position: relative;
    top: 60px;
}
    /*Navbar*/
.navbar ul{
    list-style: none;
}
.navbar a{
    color: rgb(245, 199, 14);
}
.navbar a:hover{
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 7px;
    background-color: rgba(255, 255, 255, 0);
}
.navbar li:first-child{
    margin: 20px 0px;
    position: fixed;
    left: 78px;
    bottom: 195px;
}
.navbar li:nth-child(2){
    margin: 20px 0px;
    position: fixed;
    left: 78px;
    bottom: 140px;
}
.navbar li:nth-child(3){
    margin: 20px 0px;
    position: fixed;
    left: 78px;
    bottom: 85px;
}
.navbar li:nth-child(4){
    margin: 20px 0px;
    position: fixed;
    left: 79px;
    bottom: 2px;
}
    /*About*/
.aboutme{
    padding: 0px 100px 0px 200px;
}
.aboutme .rbtn{
    margin-bottom: 0px;
    padding: 10px 15px 10px 15px;

    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid black ;
}
.me img{
    width: 200px;
    padding: 0px 200px 0px 100px;
}
    /*Projects*/
.projects .container{
    margin: 0px 200px 50px 200px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.projects .card:first-child{
    padding: 30px 10px 20px 10px;
    margin: 10px 20px 10px 50px;
}
.projects .card:nth-child(2){
    padding: 30px 10px 20px 10px;
    margin: 10px 20px 10px 10px;
}
.projects .card:nth-child(3){
    padding: 30px 10px 20px 10px;
    margin: 10px 20px 10px 10px;
}
.projects .card:nth-child(4){
    padding: 30px 10px 20px 10px;
    margin: 10px 50px 10px 10px;
}
.card h3{
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.card p{
    margin: 0px 2px 20px 2px;
}
.card .rbtn{
    margin-bottom: 0px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid black ;
}
/*Contact Me*/
.contact{
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact .container{
    justify-content: space-between;
    flex-basis: 200px;
}
.container .socials{
    position: relative;
    right: 200px;
    bottom: 0px;
}
.container .socials ul{
    list-style: none;
    padding-bottom: 20px;
}
.container .socials li{
    display: inline;
    padding: 10px 10px;
}
.container .socials h3{
    color: black;
}
.container .socials h4{
    padding-left: 50px;
    font-style: italic;
    font-weight: normal;
}
.contact .card{
    padding: 30px 20px 20px 20px;
    position: relative;
    left: 200px;
    bottom: 20px;
}
input[type="text"], input[type="email"]{
    padding: 12px 30px 12px 30px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    width: 200px;
}
textarea{
    resize: none;
    padding: 10px 30px 40px 30px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    width: 200px;
}
input[type="submit"]{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
input[type="submit"]:hover{
    background-color: rgb(29, 102, 238);
    color: white;
    font-weight: bold;
}
/*Footer*/
footer{
    background-color: #cccaca;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}